<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%-include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/navigation.ejs')%>
    <main class="container  vh-100  d-flex justify-content-center align-items-center flex-column">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est a beatae deserunt fuga nulla officiis quo, veniam voluptate itaque minus vitae laborum, quam illo accusantium! Itaque, odio veritatis. Ea perspiciatis aliquid, cumque minima itaque esse harum aspernatur ut, deserunt fugiat id aliquam architecto perferendis libero ex? Quis ratione quam atque, voluptates asperiores vero dignissimos magni perferendis ipsam natus magnam pariatur cum fugiat dolorum fugit molestiae eius soluta sapiente, repudiandae nam suscipit nostrum minus distinctio. Eos, cum saepe. Dolor ut quis odit eaque, excepturi laboriosam iste dolorem. Iure illo sapiente laudantium reiciendis perspiciatis maxime rem? Illo magnam quasi dolorum? Quidem minima commodi natus officia quisquam amet quam praesentium reiciendis est debitis, aperiam tenetur. Non ipsa numquam facere illum facilis commodi nihil nisi explicabo perspiciatis reprehenderit omnis est, optio, nulla praesentium! Voluptatum doloremque reiciendis necessitatibus provident odit beatae perferendis accusamus. Eaque unde quia ratione odit beatae sit commodi tempore quaerat ipsa obcaecati. Eligendi vero at aliquid magni. Dicta eligendi eos sequi temporibus assumenda modi distinctio libero quas a, minus quae necessitatibus quia sint repellendus quaerat illo, quis, possimus ipsa voluptatum corrupti voluptates ea. Rerum, nihil perferendis. Exercitationem repellat maiores quod eos provident, quia odio facere assumenda voluptatum commodi rerum, necessitatibus voluptatem minus.</p>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>

</html>